<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
        <listener-class>me.fourtween.ms.servlet.ContextListener</listener-class>
    </listener>
    
  <servlet>
    <servlet-name>OpenHistoryServlet1</servlet-name>
    <servlet-class>me.fourtween.ms.servlet.OpenHistoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OpenHistoryServlet1</servlet-name>
    <url-pattern>/oh</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>OpenTimeServlet</servlet-name>
    <servlet-class>me.fourtween.ms.servlet.OpenTimeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OpenTimeServlet</servlet-name>
    <url-pattern>/ot</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>me.fourtween.ms.servlet.OpenServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/op</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>
